@model List<ParkInspectGroupC.DOMAIN.Report>

@{
    ViewBag.Title = "Overzicht";
    int cid = ViewBag.Id;
}

<h2>Overzicht</h2>

<p>
    <table>
        <tr>
            <th width="250px">Titel</th>
            <th width="600px">Samenvatting</th>
            <th width="210px">Datum</th>
            <th width="100px">Download</th>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Title</td>
                <td>@m.Summary</td>
                <td>@m.Date</td>
                <td><button class="btn btn-primary" onclick="Download(@m.Id)">Download</button></td>
            </tr>
        }
    </table>
</p>

<script>
    function Download(rid) {
        event.preventDefault();

        var url = window.location.protocol + "//" + window.location.host + "/Home/Pdf?Rid=" + rid + "&Cid="+ @cid;
        window.location.href = url;
    }
</script>
